<!DOCTYPE html>
<html>
<head>
  <title>Hyrax migrator</title>
  <%= stylesheet_link_tag    "hyrax/migrator/application", media: "all" %>
  <%= javascript_include_tag "hyrax/migrator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
